body {
background-image: url("pinkBG.jpg"); 
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
h1 {
    margin-left: 25%;
    margin-right: 25%;
    color: antiquewhite;
    font-family: fantasy;
}
p {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgb(168, 115, 136);
}
#pic {
 border-radius: 100%;
 max-width: 100%;
 height: auto;
 display: block;
  margin-left: auto;
  margin-right: auto;
}
#button {
    display: inline-block;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
    height: 50px;
    width: 110px;
    background-color: plum;
    border-radius: 40%;
    border: 1px solid #fcbbe9;
    padding: 1px 10px;
    border-collapse: separate; 
    box-shadow: 0 6px 9px 0 rgba(0,0,0,0.4);
    color: rgb(240, 222, 222);
}
#button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button:hover span {
  padding-right: 25px;
}

#button:hover span:after {
  opacity: 1;
  right: 0;
}

video {
  margin-left: 39%;
  margin-right: 45%;
}